
.content {
    text-align: center;
    width: 30%;
    padding: 8% 35%;
}

.content .circle {
    display: inline-block;
    height: 45px;
    width: 45px;
    background-color: #ccc;
    border-radius: 50%;
    margin: 10px;
}